<!DOCTYPE html>

<head>
	<title>Age of Empire 2</title>
	
		    <!--  fichier css -->
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/Style.css">
		
        <!--  fichier js -->
		<script type='text/javascript' src="js/jquery.min.js"></script>
		<script type='text/javascript' src="js/script.js"></script>
		<script type="text/javascript" src="js/angular.js"></script>
		<script type='text/javascript' src="js/app.js"></script>
</head>

<body>
		<header>
		
		<img src="image/HD-edition.jpg" alt="Age of Empires 2" height=400px width=100%>
		
		<nav class=menu>
			<ul>
				<li><a href="Accueil.html">Accueil</a></li>
				<li><a href="Civilisation.html">Civilisation</a></li>
				<li><a href="Unite.html">Unité</a></li>
				<li class=current-item><a href="#">Batîment</a></li>
				<li><a href="Technologie.html">Technologie</a></li>
			</ul>
			
			<div class="search">
				<b>Recherche</b>
				<input type="text" ng-model="test" >
			</div>
		</nav>	
		
		</header>
		
		<section>
			<h1>Batîment</h1>
			<div class ="main" ng-app="store" ng-controller="Batiment_aoe" >
			<div ng-repeat="p in myData | filter:test track by $index " >
				<div class=bat >
				<h2>{{ p.Nom }}</h2>
					<div class=org>
						<aside>
						<ul class=car>
							<li>Coûts: </li>
							</br>
								<li>Pierre: {{ p.Pierre }}</li>
								<li>Or: {{ p.Or }}</li>
								<li>Bois: {{ p.Bois }}</li>
						</ul>
						</aside>
						<aside>
						<ul class=car>
							<li>Description: {{ p.Commentaire }}</li>
						</ul>
						</aside>
						<aside>
						<ul class=car>
							<li>Points de coup: {{ p.PV }}</li>
							<li>Attaque: {{ p.Attaque }}</li>
							<li>Armure: {{ p.Armure }}</li>
							<li>Protection perçage: {{ p.Armurevsjet }}</li>
							<li>Portée: {{ p.Portee }}</li>
							<li>Garnison: {{ p.Garnison }}</li>
							<li>Age: {{p.Age}}</li>
						</ul>
						</aside>
						</ul>
					</div>
				</div>
			</div>
			</div>
		</section>
		
		<footer>
		</br>
			<p>Toutes données trouvées sont en libre accès. Nous ne sommes en aucun cas les propriétaires des données présentées sur ce site.</p>
		</br>
		</footer>


</body>
