<!DOCTYPE html>

<head>
	<title>Age of Empire 2</title>
	
	<meta charset="utf-8">
	
		    <!--  fichier css -->
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/Style.css">
		
        <!--  fichier js -->
		<script type='text/javascript' src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/angular.js"></script>
		<script type='text/javascript' src="js/script.js"></script>
		<script type='text/javascript' src="js/app.js"></script>
</head>

<body>
		<header>
		
		<img src="image/HD-edition.jpg" alt="Age of Empires 2" height=400px width=100%>
		
		<nav class=menu>
			<ul>
				<li><a href="Accueil.html">Accueil</a></li>
				<li class=current-item><a href="#">Civilisation</a></li>
				<li><a href="Unite.html">Unité</a></li>
				<li><a href="Batiment.html">Batîment</a></li>
				<li><a href="Technologie.html">Technologie</a></li>
				<li><a href="ForumFAQ.html">Forum & FAQ</a></li>

			</ul>
			
			<div class="search">
				<b>Recherche</b>
				<input type="text" ng-model="test">
			</div>
		</nav>	
		
		</header>
		
		<section>
			<h1>Civilisation</h1>
			</br>
			<div class ="main" ng-app="store" ng-controller="Civilisation_aoe" >
				<div ng-repeat="p in myData " >
					<div class=civ_car>
					<h2>{{p.Nom}}</h2>
					<div class=org>
						<aside>
						<ul class=car>
							<li>Spécialité: {{p.Specialite}}</li>
							</br>
							<li>Unité Unique: {{p.UniteUnique1}}</li>
							<li>			  {{p.UniteUnique2}}</li>
						</ul>
						</aside>
						<aside>
						<ul class=car>
							<li>Technologie Unique: {{p.Technologie1}}</li>
							<li>					{{p.Technologie2}}</li>
							</br>
							<li>Merveille: {{p.Merveille}}</li>
						</ul>
						</aside>
						<aside>
						<ul class=car>
							<li>Bonus d'équipe: {{p.BonusEquipe}}</li>
							</br>
							<li>Bonus Civilisation: {{p.Bonus1civilisation}}</li>
							<li>					{{p.Bonus2civilisation}}</li>
							<li>					{{p.Bonus3civilisation}}</li>
							<li>					{{p.Bonus4civilisation}}</li>	
							<li>					{{p.Bonus5civilisation}}</li>
						</ul>
						</aside>
						</div>
						</br>
						</ul>
					</div>
				</div>
			</div>
			</br>
		</section>
		
		<footer>
		</br>
			<p>Toutes données trouvées sont en libre accès. Nous ne sommes en aucun cas les propriétaires des données présentées sur ce site.</p>
		</br>
		</footer>


</body>
